datasets==3.1.0
fast_pytorch_kmeans==0.2.0.1
kagglehub==0.3.12
librosa==0.10.2.post1
matplotlib==3.10.3
munch==4.0.0
numpy==2.2.6
pandas==2.2.3
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.6.1
torch==2.5.0+cu118
torchaudio==2.5.0+cu118
torchprofile==0.0.4
torchvision==0.20.0+cu118
tqdm==4.66.5
transformers==4.46.1
whisper_openai==1.0.0
